
.idea/
__pycache__/main.cpython-37.pyc
__pycache__/Settings.cpython-37.pyc
ImageManip/__pycache__/MakeImages.cpython-37.pyc
ImageManip/__pycache__/TrainingData.cpython-37.pyc
NeuralNet/__pycache__/FeedForward.cpython-37.pyc
venv/
saves/
images/
NeuralNet/__pycache__/
.idea/vcs.xml
*.pyc